#goals {
	-fx-background-image: url("/options_background.png"), url("/ice.png");
	-fx-padding: 16;
	
	-fx-border-color: rgb(30, 30, 30);
	-fx-border-width: 2;
}

.separator .line {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.separator {
	-fx-padding: 4 0 4 0;
}